<template lang="pug">
    span.spinner
</template>

<script>
    export default {
        name: "global_Spinner"
    }
</script>

<style scoped lang="scss">
    @import '~@/assets/scss/global';

    .spinner {
        display: inline-block;
        position: relative;
        width: em(64px, 16px);
        height: em(64px, 16px);
    }

    .spinner:after {
        content: " ";
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: em(6px, 16px);
        box-sizing: border-box;
        border: em(26px, 16px) solid transparent;
        border-top-color: #fff;
        border-bottom-color: #fff;
        animation: lds-hourglass 1.2s infinite;
    }

    @keyframes lds-hourglass {
        0% {
            transform: rotate(0);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        50% {
            transform: rotate(900deg);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        100% {
            transform: rotate(1800deg);
        }
    }

</style>