<template lang="pug">
    .form-group(:class="{'form-group--on-error': error}")
        label.form-label(
        :for="id"
        ) {{label}}
        input(
        v-if="type === 'tel'"
        :id="id",
        :name="name",
        :placeholder="placeholder"
        type="tel"
        v-mask="'+38(###)##-##-###'",
        :value="value",
        @input="changeOnInput",
        @focus="focusInput",
        @blur="blurInput",
        autocomplete="off",
        :class="['form-control']"
        )
        input(
        v-else,
        :id="id",
        :name="name",
        autocomplete="off",
        :placeholder="placeholder"
        :type="type"
        :value="value",
        @input="changeOnInput",
        @focus="focusInput",
        @blur="blurInput",
        :class="['form-control']"
        )
        transition(name="custom-classes-transition" enter-active-class="flash" leave-active-class="fadeOut")
            small.animated(v-show="error" class="form-error") {{ error }}
</template>

<script>
    import {VueMaskDirective} from 'v-mask'

    export default {
        name: "FormInput",
        $_veeValidate: {
            value() {
                return this.value;
            },
            name() {
                return this.name;
            }
        },
        directives: {
            mask: VueMaskDirective
        },
        props: {
            value: [String, Number],
            id: {
                type: String,
                required: true
            },
            label: {
                type: String,
                required: true
            },
            error: {
                type: String
            },
            type: {
                type: String,
                default: 'text',
                validator: val => {
                    return (
                        ["url", "text", "password", "email", "search", "tel"].indexOf(val) !== -1
                    );
                }
            },
            placeholder: {
                type: String
            },
            name: [String]
        },
        methods: {
            changeOnInput(event) {
                this.$emit('input', event.target.value)
            },
            focusInput(event) {
                let target = event.target,
                    parent = target.parentNode;
                if (parent.classList.contains('form-group')) {
                    parent.classList.add('form-group--on-focus');
                }
            },
            blurInput(event) {
                let target = event.target,
                    parent = target.parentNode;
                if (parent.classList.contains('form-group')) {
                    parent.classList.remove('form-group--on-focus');
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/assets/scss/global';

    .form-label {
        @include center-vertical();
        font-weight: $font-weight-bold;
        font-size: rem(18px);
        transition: .2s;
        color: #000;

        .form-group--on-focus & {
            color: #FFF;
        }
    }

    .form-control {
        border: none;
        width: 100%;
        padding: 12px 10px 12px 100px;
        border-bottom: 1px solid #040707;
        background: transparent;
        &:active, &:focus {
            outline: none;
        }
    }

</style>