<template lang="pug">
    .form-group.form-group_checkbox(:class="{'form-group--on-error': error}")
        label.checkbox
            input.sr-only(:name="name",
            type="checkbox",
            :value="value",
            @change="changeOnInput")
            i
            span {{label}}
        transition(name="custom-classes-transition" enter-active-class="flash" leave-active-class="fadeOut")
            small.animated(v-show="error" class="form-error") {{ error }}


</template>

<script>
    export default {
        name: "global_CheckBox",
        $_veeValidate: {
            value() {
                return this.checked;
            },
            name() {
                return this.name;
            }
        },
        props: {
            value: [Boolean],
            label: {
                type: String,
                required: true
            },
            name: {
                type: String,
                required: true
            },
            error: {
                type: String
            }
        },
        methods: {
            changeOnInput(event) {
                this.$emit('input', event.target.checked)
            },
        }
    }
</script>

<style lang="scss">
    @import '~@/assets/scss/global';

    .checkbox {
        display: flex;
        align-items: center;

        i {
            display: block;
            margin-right: 20px;
            width: 15px;
            height: 15px;
            border: 1px solid transparent;
            background: #FFF;
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border: 1px solid transparent;
                transform: rotate(-56deg) skew(-12deg) translateY(1px);
                transition: width .2s, height .1s;
            }

            .form-group--on-error & {
                border-color: theme-color('danger');
            }
        }

        input:checked + i:after {
            border-bottom-color: #000;
            border-left-color: #000;
            width: 90%;
            height: 45%;
        }
    }
</style>