<template lang="pug">
    //- components/shared/GoogleMap.vue
    .map(ref="map")
</template>
<script>
    export default {
        props: {
            markerLocation: {
                type: Object,
                validator: validateLocation
            },
            mapCenter: {
                type: Object,
                validator: validateLocation
            }
        },
        methods: {
            initMap() {
                let vm = this;
                if (!this.$refs.map) {
                    this.IS_DEBUG && console.log('No map\'s ref found!');
                    return;
                }
                this.map = new google.maps.Map(this.$refs.map, {
                    center: new google.maps.LatLng(vm.mapCenter.lat, vm.mapCenter.lng),
                    zoom: 12,
                    styles: [
                        {
                            elementType: "geometry",
                            stylers: [
                                {
                                    color: "#212121"
                                }
                            ]
                        },
                        {
                            elementType: "labels.icon",
                            stylers: [
                                {
                                    visibility: "off"
                                }
                            ]
                        },
                        {
                            elementType: "labels.text.fill",
                            stylers: [
                                {
                                    color: "#757575"
                                }
                            ]
                        },
                        {
                            elementType: "labels.text.stroke",
                            stylers: [
                                {
                                    color: "#212121"
                                }
                            ]
                        },
                        {
                            featureType: "administrative",
                            elementType: "geometry",
                            stylers: [
                                {
                                    color: "#757575"
                                }
                            ]
                        },
                        {
                            featureType: "administrative.country",
                            elementType: "labels.text.fill",
                            stylers: [
                                {
                                    color: "#9e9e9e"
                                }
                            ]
                        },
                        {
                            featureType: "administrative.land_parcel",
                            stylers: [
                                {
                                    visibility: "off"
                                }
                            ]
                        },
                        {
                            featureType: "administrative.locality",
                            elementType: "labels.text.fill",
                            stylers: [
                                {
                                    color: "#bdbdbd"
                                }
                            ]
                        },
                        {
                            featureType: "poi",
                            elementType: "labels.text.fill",
                            stylers: [
                                {
                                    color: "#757575"
                                }
                            ]
                        },
                        {
                            featureType: "poi.park",
                            elementType: "geometry",
                            stylers: [
                                {
                                    color: "#181818"
                                }
                            ]
                        },
                        {
                            featureType: "poi.park",
                            elementType: "labels.text.fill",
                            stylers: [
                                {
                                    color: "#616161"
                                }
                            ]
                        },
                        {
                            featureType: "poi.park",
                            elementType: "labels.text.stroke",
                            stylers: [
                                {
                                    color: "#1b1b1b"
                                }
                            ]
                        },
                        {
                            featureType: "road",
                            elementType: "geometry.fill",
                            stylers: [
                                {
                                    color: "#2c2c2c"
                                }
                            ]
                        },
                        {
                            featureType: "road",
                            elementType: "labels.text.fill",
                            stylers: [
                                {
                                    color: "#8a8a8a"
                                }
                            ]
                        },
                        {
                            featureType: "road.arterial",
                            elementType: "geometry",
                            stylers: [
                                {
                                    color: "#373737"
                                }
                            ]
                        },
                        {
                            featureType: "road.highway",
                            elementType: "geometry",
                            stylers: [
                                {
                                    color: "#3c3c3c"
                                }
                            ]
                        },
                        {
                            featureType: "road.highway.controlled_access",
                            elementType: "geometry",
                            stylers: [
                                {
                                    color: "#4e4e4e"
                                }
                            ]
                        },
                        {
                            featureType: "road.local",
                            elementType: "labels.text.fill",
                            stylers: [
                                {
                                    color: "#616161"
                                }
                            ]
                        },
                        {
                            featureType: "transit",
                            elementType: "labels.text.fill",
                            stylers: [
                                {
                                    color: "#757575"
                                }
                            ]
                        },
                        {
                            featureType: "water",
                            elementType: "geometry",
                            stylers: [
                                {
                                    color: "#000000"
                                }
                            ]
                        },
                        {
                            featureType: "water",
                            elementType: "labels.text.fill",
                            stylers: [
                                {
                                    color: "#3d3d3d"
                                }
                            ]
                        }
                    ]
                });
                this.createMаrker(this.markerLocation);
            },
            updateMapCenter(location) {
                if (validateLocation(location)) this.map.setCenter(new google.maps.LatLng(location.lat, location.lng));
            },
            updateMarker(location) {
                this.removeMarker();
                this.createMаrker(location);
            },
            removeMarker() {
                if (this.marker) this.marker.setMap(null);
            },
            createMаrker(location) {
                if (validateLocation(location)) {
                    let vm = this;
                    this.marker = new google.maps.Marker({
                        position: location,
                        map: vm.map,
                        icon: {
                            url: '/map-marker.png',
                        }
                    });
                }
            }
        },
        watch: {
            mapCenter(newValue) {
                this.updateMapCenter(newValue);
            },
            markerLocation(newValue) {
                this.updateMarker(newValue);
            }
        },
        mounted() {
            this.initMap();
        }
    };

    function validateLocation(obj) {
        if (obj.hasOwnProperty('lat') && obj.hasOwnProperty('lng')) {
            return typeof obj.lat === 'number' && typeof obj.lng === 'number';
        }
        return false;
    }
</script>
<style lang="scss">
    @import '~@/assets/scss/global';

    .map {
        @include position(absolute !important, 0, 0, 0, 0);
    }
</style>
