$fonts-weight:(
    300: 'SuisseIntl-Light',
    400: 'SuisseIntl',
    500: 'SuisseIntl-SemiBold',
);

@each $weight, $font  in $fonts-weight{
    @font-face {
        src: url("~@/assets/fonts/"+$font+".woff2") format("woff2"),
             url("~@/assets/fonts/"+$font+".woff") format("woff");
        font:{
            weight: $weight;
            family: "SuisseIntl";
        }      
    }
}
