@include media-breakpoint-down(md){
  .h3,h3{
    font-size: rem(20px);
  }
}

@include media-breakpoint-down(sm){
  .h2,h2{
    font-size: rem(30px);
  }

  .h3,h3{
    font-size: rem(20px);
  }

  .h4,h4{
    font-size: rem(16px);
  }
}