/*=============== Function em(font-size in px) =========================*/
@function em($target, $context: 16px) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0em;
}

/*=============== Function rem(font-size in px) =========================*/
@function rem($target) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / 16px + 0rem; // 16px default value
}