@mixin center-block {
  display:      block;
  margin-left:  auto;
  margin-right: auto;
}

@mixin center-both {
  position:  absolute;
  top:       50%;
  left:      50%;
  transform: translate(-50%, -50%);
}

@mixin center-vertical {
  position:  absolute;
  top:       50%;
  transform: translateY(-50%);
}

@mixin center-horizontal {
  position:  absolute;
  left:       50%;
  transform: translateX(-50%);
}

@mixin position($type, $top: 0, $right: null, $bottom: null, $left: 0) {
  position: $type;
  top:      $top;
  right:    $right;
  bottom:   $bottom;
  left:     $left;
}

@mixin button-reset($background: none, $border: none, $box-shadow: none, $padding: 0){
  background: $background;
  border: $border;
  padding: $padding;
  box-shadow: $box-shadow;
}


