<template lang="pug">
    //- components/SectionContacts.vue
    .pb-100
        .container
            .row
                section.col-xl-6
                    header.section-header
                        h2.section-header__title
                            span.text-primary GMS
                            =' '
                            | Headquarters
                    .row
                        .col-sm-6.d-flex.justify-content-between.flex-column
                            div.mb-30
                                | Global Message Services Ukraine LLC
                                br
                                | Bundesstrasse 5 | 3rd Floor
                                br
                                | 6300 Zug
                                br
                                | Switzerland
                            a.btn-link.h3.d-block.text-nowrap(href="tel:+41415446200") +41 41 544 62 00
                        .col-sm-6
                            .pt-20.pt-sm-0
                                | Email
                                a.btn-link.d-block(href="mailto:info@gms-worldwide.com") info@gms-worldwide.com
                                | Send message
                                a.btn-link.d-block.text-uppercase(href="tel:+41415446200") Viber us
                                | Send form
                                a.btn-link.d-block.text-uppercase(href="#contactUsSection" @click.prevent="scrollToContactForm") Contact us
                section.col-xl-6.mt-30.mt-xl-0
                    header.section-header
                        h2.section-header__title Technical support
                            =' '
                            span.text-primary 24/7
                    p.mb-30 GMS understands that it can be hard to follow all new technologies. We regularly provide for all our clients educational trainings to make your operator`s business earn more and better though our best practices.
                    a.btn-link.h3.d-block.text-nowrap(href="tel:+41415446206") +41 41 544 62 06
</template>
<script>
    export default {
        methods: {
            scrollToContactForm(event) {
                let target = event.target,
                    targetHref = target.href.match(/(#\w+)$/)[0],
                    scrollTo = document.getElementById(targetHref && targetHref.substr(1));
                if (scrollTo) {
                    scrollTo.scrollIntoView({behavior: 'smooth'});
                }
            }
        }
    }
</script>
<style lang="scss">
    @import '~@/assets/scss/global';

</style>
