<template lang="pug">
    //- components/SectionContactUs.vue
    section.section-contact-us.py-100#contactUsSection
        .container
            header.section-header.text-white
                h2.section-header__title Contact Us
            .row
                .col-md-6.order-2.order-md-1
                    form(name="contactUsForm" @submit.prevent="submitForm")
                        form-input(
                        id="contactUsFormName",
                        label="Name",
                        name="name",
                        v-validate="'required|max:100|min:2'",
                        :error="errors.first('name')",
                        v-model="formData.name"
                        )
                        form-input(
                        id="contactUsFormPhone",
                        label="Phone",
                        type="tel",
                        name="phone",
                        v-validate="'required|phone'",
                        :error="errors.first('phone')",
                        v-model="formData.phone"
                        )
                        form-input(
                        id="contactUsFormEmail",
                        label="E-mail",
                        name="e-mail",
                        type="email",
                        v-validate="'required|email'",
                        :error="errors.first('e-mail')",
                        v-model="formData['e-mail']"
                        )
                        check-box.text-white(
                        v-validate="'accept'",
                        :error="errors.first('accept')",
                        v-model="formData.accept"
                        name="accept",
                        label="I agree the processing of personal data"
                        )
                        button.text-uppercase.mt-50.btn.btn-secondary(type="submit" :disabled="isSending")
                            transition(name="custom-classes-transition" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in")
                                spinner.align-middle.animated--2x(v-if="isSending")
                                span(v-else-if="isSent") Wait for reply
                                span.animated--4x(v-else) Get in touch

                .col-md-6.order-1.order-md-2
                    p.h4.pl-md-50.text-dark Please tell us more about your request and give us info about your company and country


</template>
<script>
    import axios from 'axios'


    export default {
        $_veeValidate: {
            validator: 'new'
        },
        data: () => ({
            formData: {
                accept: false
            },
            isSending: false,
            isSent: false
        }),
        methods: {
            submitForm() {
                this.$validator.validate().then(result => {
                    if (result) this.postContactUsFormData();
                });
            },
            postContactUsFormData() {
                this.isSending = true;

                // manual timeout for sending animation
                setTimeout(() => {
                    axios.post('http://httpbin.org/post', this.formData).then(response => {
                        if (response) {
                            this.resetFormData();
                        }
                    }).catch(e => console.error(e))
                }, 1200);

            },
            resetFormData() {
                let vm = this;
                this.isSending = false;
                this.isSent = true;
                this.formData = {};
                this.$nextTick(() => vm.$validator.reset());
            }
        }
    }
</script>
<style lang="scss">
    @import '~@/assets/scss/global';

    .section-contact-us {
        background: url(/pattern.jpg);
    }
</style>
