<template lang="pug">
    //- components/SectionOffices.vue
    section.section-our-offices.pt-100.pb-md-150
        .container
            header.section-header
                h2.section-header__title Our offices
            .row
                .col-md-6
                    ul.list-unstyled.offices-nav
                        li(v-for="(office, index) in officesData" :key="index")
                            button.offices-nav__item(type="button",
                            :class="[{'offices-nav__item--active': office.id === activeOffice.id}]",
                            @click="activeOffice = office"
                            ) {{office.address.city}}
                    .offices-data
                        transition(name="custom-classes-transition"
                        enter-active-class="fadeIn"
                        leave-active-class="fadeOut animated--3x" mode="out-in")
                            .offices-data__item.animated(v-for="(office, index) in officesData" :key="index", v-if="activeOffice === office")
                                .office-info
                                    h3.office-info__name {{office.name}}
                                    .office-info__address
                                        | {{office.address.city +', '+ office.address.street}}
                                        br
                                        | {{office.address.zipCode}}
                                        br
                                        | {{office.address.country}}




        .section-our-offices__map
            component(:is="componentMap"
            :markerLocation="activeOffice.location",
            :mapCenter="activeOffice.location"
            )

</template>

<script>
    import loadGoogleMapsApi from "load-google-maps-api";

    export default {
        data: () => ({
            componentMap: null,
            officesData: [
                {
                    id: 0,
                    location: {
                        lat: 50.4893279,
                        lng: 30.4856534
                    },
                    name: 'Global Message Services Ukraine LLC',
                    address: {
                        city: 'Kyiv',
                        street: 'Stepan Bandera, 33',
                        country: 'Ukraine',
                        zipCode: '02066'
                    }
                },
                {
                    id: 1,
                    location: {
                        lat: 40.7449314,
                        lng: -73.9839757
                    },
                    name: 'Global Message Services USA LLC',
                    address: {
                        city: 'New York',
                        street: '350 5th Ave',
                        country: 'USA',
                        zipCode: '10118'
                    }
                },
                {
                    id: 2,
                    location: {
                        lat: 23.1352256,
                        lng: 113.2748378
                    },
                    name: 'Global Message Services China LLC',
                    address: {
                        city: 'Guangzhou',
                        street: '2 Zhongshan 6th Rd',
                        country: 'China',
                        zipCode: '510000'
                    }
                },
                {
                    id: 3,
                    location: {
                        lat: 41.3896923,
                        lng: 2.1778489
                    },
                    name: 'Global Message Services Spain LLC',
                    address: {
                        city: 'Barcelona',
                        street: 'Plaça de Catalunya, 14',
                        country: 'Spain',
                        zipCode: '08002'
                    }
                }
            ],
            activeOffice: null
        }),
        methods: {
            async loadGoogleMap() {
                let vm = this;
                await loadGoogleMapsApi({
                    key: "AIzaSyCnDFrSYKsokAPF8N6cazCFQ1Sl3ZlZTiE"
                });
                import("./shared/GoogleMap.vue").then(
                    component => (vm.componentMap = component.default)
                );
            },
        },
        beforeCreate() {

        },
        created() {
            // set default office
            this.activeOffice = this.officesData[0];

            this.loadGoogleMap();
        }

    }
</script>
<style lang="scss">
    @import '~@/assets/scss/global';

    .section-our-offices {
        background: theme-color('secondary');
        position: relative;
        color: $white;

        &__map {
            position: relative;
            @include media-breakpoint-up(md) {
                width: 50%;
                @include position(absolute, 0, 0, 0, 50%);
            }

            @include media-breakpoint-down(sm) {
                padding-top: 62.5%;
                margin-top: rem(30px);
            }
        }
    }

    .offices-nav {
        display: flex;
        margin-bottom: rem(40px);
        flex-wrap: wrap;

        li + li {
            margin-left: 30px;
            @include media-breakpoint-down(xs){
                margin-left: 20px;
            }
        }

        &__item {
            white-space: nowrap;
            @include button-reset();
            color: $white;
            text-transform: uppercase;
            font-size: rem(11px);
            font-weight: $font-weight-bold;
            transition: $btn-transition;

            &--active {
                color: theme-color('primary');
            }
        }
    }

    .office-info {
        &__name {
            margin-bottom: rem(25px);
        }
        &__address {
            font-size: rem(11px);
            line-height: (20/11);
        }
    }
</style>
