.form-group {
  margin-bottom: 7px;
  position: relative;

  &:after {
    content: '';
    width: 0;
    height: 1px;
    @include position(absolute, calc(100% - 1px), auto, auto, 0);
    background: #FFF;
    transition: .2s;
  }
  &--on-focus:after {
    width: 100%;
  }
  &--on-error:after {
    width: 100%;
    background: theme-color('danger');
  }

  &_checkbox:after {
    content: none;
  }
}

.form-error {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 1;
  color: theme-color('danger');
}