<template lang="pug">
    main#app.pt-100
        .container
            h1.mb-30 Contacts
        section-contacts
        section-offices
        section-contact-us
</template>

<script>
    import SectionContacts from './components/SectionContacts.vue'
    import SectionOffices from './components/SectionOffices.vue'
    import SectionContactUs from './components/SectionContactUs.vue'

    export default {
        name: 'app',
        components: {
            SectionContacts, SectionOffices, SectionContactUs
        }
    }
</script>

<style lang="scss">
    // import common styles
    @import '~@/assets/scss/main.scss';
</style>
